<!DOCTYPE html>
<html>
<head>
	<title>Hoja de Servicio</title>
	<style type="text/css">
        @page {
            size: letter;
            margin: 1cm;
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 2cm;
                margin-right: 2cm;
                height: 1cm;
            }
        }
    </style>
    <style>
	    * {
	      font-family: sans-serif;
	    }	    
	</style>
	<style>
		table, th, td {
		    border: 1px solid black;
		    border-collapse: collapse;
		}
		th, td {
		    padding-top: 2px;
		}
	</style>
</head>
<body>
	<div align="center">
		<h1 style="font-size:20px">Hoja de servicio</h1>

		<table>
			<tr>
				<th>Tecnico:</th> <td>{{ tecnico.nombre }}</td> <th>Teléfono:</th> <td>{{ tecnico.prefijo_telefono }}-{{ tecnico.telefono }}</td> <th>Fecha:</th> <td>{{ servicio.fecha_recepcion }}</td>
			</tr>
			<tr>
				<th>Cliente:</th><td>{{ cliente.nombre }}</td><th>Teléfono:</th><td>{{ cliente.prefijo_telefono }}-{{ cliente.telefono }}</td><th>ID PC:</th><td>{{ pc.codigo }}</td>
			</tr>
		</table>

		<br>

		<table>
				<tr>
					<th colspan="3">Computadora de Escritorio</th><th colspan="3">Detalles sobre el Equipo</th>					
				</tr>
				<tr>
					<th>Procesador:</th><td colspan="2">{{ pc.cpu }}</td><td colspan="3" rowspan="6">{{ pc.observaciones }}</td>
				</tr>
				<tr>
					<th>Tarjeta Madre:</th><td colspan="2">{{ pc.moBo }}</td>
				</tr>
				{% for ram in pc.ram.all %}
					<tr>
						<th>RAM {{ forloop.counter }}</th><td colspan="2">{{ ram }}</td>
					</tr>
				{% endfor %}
				{% for dd in pc.dd.all %}
					<tr>
						<th>DD {{ forloop.counter }}</th><td colspan="2">{{ dd }}</td>
					</tr>
				{% endfor %}
				{% for cdRom in pc.cdRom.all %}
					<tr>
						<th>CD Room {{ forloop.counter }}</th><td colspan="2">{{ cdRom }}</td>
					</tr>
				{% endfor %}
				{% for adicional in pc.adicional.all %}
					<tr>
						<th>Dips. Adicional {{ forloop.counter }}</th><td colspan="2">{{ adicional }}</td>
					</tr>
				{% endfor %}
				<tr>
					<th>Fuente de Poder:</th><td colspan="2">{{ pc.fuente }}</td>
				</tr>
				<tr>
					<th colspan="3">Estado del Equipo</th><th colspan="3">Servicio(s) a Realizar</th>
				</tr>
				<tr>
					<td colspan="3">
						{% for estado in pc.estado.all %}
							<b>*</b> {{ estado }}<br>
						{% endfor %}
					</td>
					<td colspan="3">
						{% for servicio in servicio.servicios.all %}
							&#10004; {{ servicio }}<br>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th colspan="6">Detalles del servicio</th>
				</tr>
				<tr>
					<td colspan="6" style="height:100px">{{ servicio.observaciones }}</td>
				</tr>
			</table>
			
			<br>
			
			<table>
				<tr>
					<th>Cancelado:</th>
					<td>{% if servicio.pago %}&#10004;&#10004;{% else %}NO{% endif %}</td>
					<th>Total:</th>
					<td>{{ servicio.total }}Bs</td>
					<th>Abono:</th>
					<td>{{ servicio.abono }}</td>
				</tr>
				<tr>
					<th colspan="6">
						No nos hacemos responsables por el equipo, en cuanto a funcionamiento y deterioro luego de 7 días del servicio.
					</th>
				</tr>		
				<tr>
					<th colspan="6">
						Y se dispondrá de las piezas instaladas al equipo en caso de que las mismas no hayan sido canceladas.
					</th>
				</tr>
				<tr>
					<th colspan="6">
						Por razones obvias el cliente debe tener respaldo de su información "escencial" contenida en su Disco Duro, es de su responsabilidad.
					</th>
				</tr>
		</table>
	</div>

</body>
</html>